@charset 'utf-8';
* {
  margin: 0;
  padding: 0;
}
body {
  font: 14px/1.5 Helvetica Neue, Helvetica, Arial, Microsoft Yahei, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
  color: #333;
  background-color: #fff;
  min-width: 1226px;
}
input {
  outline: none;
}
ul,
ol {
  margin-bottom: 0;
}
a {
  text-decoration: none;
  color: #b0b0b0;
}
a:hover {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
li {
  list-style: none;
}
.site-topbar {
  position: relative;
  z-index: 30;
  height: 40px;
  font-size: 12px;
  color: #b0b0b0;
  background: #333;
}
.site-topbar .container1 {
  width: 1226px;
  margin-right: auto;
  margin-left: auto;
}
.site-topbar .container1 .topbar-nav {
  float: left;
  height: 40px;
  line-height: 40px;
}
.site-topbar .container1 .topbar-nav a {
  line-height: 40px;
  display: inline-block;
}
.site-topbar .container1 .topbar-nav .sep {
  margin: 0 0.3em;
  color: #424242;
  font-family: sans-serif;
}
.site-topbar .container1 .topbar-cart {
  position: relative;
  float: right;
  width: 120px;
  height: 40px;
  margin-left: 15px;
  transition: all 0.2s;
  font-size: 12px;
}
.site-topbar .container1 .topbar-cart .cart-mini {
  position: relative;
  z-index: 32;
  display: block;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #b0b0b0;
  background: #424242;
}
.site-topbar .container1 .topbar-cart .cart-mini:hover {
  background: #fff;
  color: #ff6700;
}
.site-topbar .container1 .topbar-cart .cart-mini .icon-gouwuchekong {
  margin-right: 4px;
  font-size: 15px;
  line-height: 20px;
  vertical-align: -4px;
}
.site-topbar .container1 .topbar-info {
  float: right;
  height: 40px;
  line-height: 40px;
  margin-right: 20px;
}
.site-topbar .container1 .topbar-info a {
  padding: 0 5px;
}
.nav0 {
  width: 1226px;
  margin: 0 auto;
  padding: 25px 0;
  height: 100px;
}
.nav0 .nav1 {
  width: 62px;
  height: 50px;
  background-color: #ff6700;
  color: #fffffe;
  font-size: 26px;
  text-align: center;
  line-height: 50px;
  float: left;
  font-weight: 600;
}
.nav0 ul {
  float: left;
  margin-left: 30px;
}
.nav0 ul li {
  float: left;
}
.nav0 ul li a {
  padding: 0 10px;
  font-size: 16px;
  line-height: 50px;
  color: #333;
}
.nav0 form {
  width: 292px;
  height: 47px;
  border: 1px solid #e5e5e5;
  float: right;
  margin-top: 3px;
}
.nav0 form input {
  width: 245px;
  height: 47px;
  border: none;
  outline: none;
  float: left;
  border-right: 1px solid #e5e5e5;
}
.nav0 form div {
  float: left;
  width: 45px;
  height: 47px;
  text-align: center;
  line-height: 47px;
}
.nav0 form div:hover {
  background-color: #ff6700;
}
.nav0 form div .icon-fangdajing {
  font-size: 20px;
}
.Redmi {
  width: 100%;
  height: 60px;
  background-color: #fff;
  position: sticky;
  z-index: 99;
  top: 0;
  border-top: 1px solid #ccc;
  box-shadow: 3px 3px #ccc;
}
.Redmi .redmi {
  width: 1226px;
  height: 60px;
  margin: 0 auto;
}
.Redmi .redmi ul:first-child li {
  height: 60px;
  line-height: 60px;
  float: left;
  text-align: center;
}
.Redmi .redmi ul:first-child li h2 {
  font-size: 18px;
  padding: 0 10px;
}
.Redmi .redmi ul:first-child li a {
  padding: 0 10px;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  border-left: 1px solid #ccc;
  display: inline-block;
}
.Redmi .redmi p {
  width: 320px;
  height: 60px;
  line-height: 60px;
  float: right;
  text-align: center;
}
.Redmi .redmi p a {
  display: inline-block;
  padding: 0 7px;
  height: 20px;
  line-height: 20px;
  border-right: 1px solid #000;
}
.Redmi .redmi a {
  color: #616161;
}
.Redmi .redmi a:hover {
  color: #ff4a00;
}
.main {
  width: 1226px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.main #carousel-example-generic {
  padding: 32px 0 12px;
  width: 560px;
  height: 560px;
}
.main #carousel-example-generic a {
  background: none;
}
.main .mainright {
  padding-top: 32px;
  width: 600px;
  display: flex ;
  flex-direction: column;
}
.main .mainright .top {
  display: flex;
  width: 100%;
  height: 36px;
  align-items: center;
}
.main .mainright .top img {
  width: 50px;
  height: 24px;
}
.main .mainright .top p {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  color: #212121;
}
.main .mainright .toptext {
  width: 600px;
  height: 91px;
  color: #b0b0b0;
  font-size: 14px;
  padding: 8px 0 0;
}
.main .mainright .toptext .span1 {
  color: #ff4a00;
}
.main .mainright .self-support {
  width: 600px;
  height: 20px;
  color: #ff4a00;
  font-size: 14px;
  margin: 25px 0 0 ;
}
.main .mainright .price {
  display: flex;
  align-items: center;
  width: 600px;
  height: 40px;
  padding: 12px 0 10px;
}
.main .mainright .price p {
  margin: 0 5px 0 0;
  color: #ff4a00;
  font-size: 18px;
}
.main .mainright .price del {
  color: #b0b0b0;
}
.main .mainright .line {
  width: 600px;
  height: 1px;
  margin: 12px 0;
  background-color: #ccc;
}
.main .mainright .address {
  width: 600px;
  height: 104px;
  padding: 30px 50px;
  border: 1px solid #ccc;
  background-color: #fafafa;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.main .mainright .address .iconfont {
  font-size: 16px;
}
.main .mainright .address .addresscon {
  width: 498px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main .mainright .address .addresscon p {
  width: 100%;
  height: 50%;
  display: flex;
}
.main .mainright .address .addresscon p a {
  margin-right: 10px;
}
.main .mainright .address .addresscon p a:hover {
  color: #ff4a00;
}
.main .mainright .address .addresscon span {
  color: #ff4a00;
}
.main .mainright .title1 {
  font-size: 18px;
  width: 100%;
  height: 26px;
  line-height: 26px;
  margin: 10px 0;
}
.main .mainright .title1a {
  width: 100%;
  height: 41px;
  display: flex;
  justify-content: space-between;
}
.main .mainright .title1a a {
  width: 292px;
  height: 41px;
  border: 1px solid #ccc;
  text-align: center;
  line-height: 41px ;
}
.main .mainright .title1a a:hover {
  color: #ff4a00;
}
.main .mainright .title1b {
  width: 100%;
  height: 41px;
  display: flex;
}
.main .mainright .title1b a {
  width: 292px;
  height: 41px;
  border: 1px solid #ccc;
  text-align: center;
  line-height: 41px ;
  margin-top: 15px;
}
.main .mainright .title1b a:hover {
  color: #ff4a00;
}
.main .mainright .choosecolor {
  margin: 20px 0;
  font-size: 18px;
  width: 100%;
  height: 26px;
  line-height: 26px;
}
.main .mainright .color1 {
  width: 100%;
  height: 41px;
  display: flex;
  justify-content: space-between;
}
.main .mainright .color1 a {
  width: 292px;
  height: 41px;
  border: 1px solid #ccc;
  text-align: center;
  line-height: 41px ;
}
.main .mainright .color1 a:hover {
  color: #ff4a00;
}
.main .mainright .color2 {
  width: 100%;
  height: 41px;
  display: flex;
  justify-content: space-between;
}
.main .mainright .color2 a {
  width: 292px;
  height: 41px;
  border: 1px solid #ccc;
  text-align: center;
  line-height: 41px ;
  margin-top: 15px;
}
.main .mainright .color2 a:hover {
  color: #ff4a00;
}
.main .mainright .total {
  margin-top: 50px;
  width: 600px;
  height: 150px;
  padding: 30px;
  background: #f9f9fa;
  margin-bottom: 30px;
}
.main .mainright .total .totaltop {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .mainright .total .totallast {
  width: 100%;
  height: 50%;
  font-size: 25px;
  color: #ff4a00;
}
.main .mainright .joinshop {
  width: 100%;
  height: 54px;
  display: flex;
  margin-bottom: 100px;
}
.main .mainright .joinshop .input1 {
  width: 300px;
  height: 54px;
  background: #ff6700;
  color: #fff;
  font-size: 18px;
  text-align: center ;
  line-height: 54px;
  margin-right: 20px;
  border: none;
  cursor: pointer;
}
.main .mainright .joinshop .input2 {
  width: 142px;
  height: 54px;
  text-align: center ;
  line-height: 54px;
  background-color: #ccc;
  color: #fff;
  font-size: 18px;
  border: none;
  cursor: pointer;
}
.price-declaration {
  width: 100%;
  height: 315px;
  padding-bottom: 50px;
  background-color: #f5f5f5;
}
.price-declaration .state {
  display: block;
  height: 76px;
  padding: 22px 0;
  width: 1200px;
  margin: 0 auto;
  font-size: 22px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
}
.price-declaration img {
  display: block;
  width: 1200px;
  height: 189px;
  margin: 0 auto;
}
footer {
  width: 100%;
  background-color: #fff;
}
footer #serve {
  width: 1226px;
  height: 80px;
  margin: 0 auto;
  padding: 27px 0;
  border-bottom: 1px solid #000;
}
footer #serve li {
  float: left;
  width: calc(20% - 1px);
  height: 26px;
  text-align: center;
  border-right: 1px solid #000;
  line-height: 26px;
}
footer #serve li .icon {
  font-size: 22px;
}
footer #serve li em {
  font-size: 16px;
}
footer .footercenter {
  width: 1226px;
  height: 220px;
  padding: 40px 0;
  margin: 0 auto;
  display: flex;
}
footer .footercenter .centerleft {
  width: 80%;
  height: 100%;
  display: flex;
}
footer .footercenter .centerleft ul {
  width: calc(100% / 6);
  height: 100%;
}
footer .footercenter .centerleft ul li {
  margin: 10px 0 0;
  font-size: 12px;
  color: #757575;
}
footer .footercenter .centerleft ul li:first-child {
  margin: 0 0 26px;
  font-size: 14px;
  color: #424242;
}
footer .footercenter .centerright {
  width: 20%;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center ;
  border-left: 1px solid #ccc;
}
footer .footercenter .centerright p {
  font-size: 22px;
  color: #FF6700;
  margin: 0;
}
footer .footercenter .centerright span {
  color: #616161;
  font-size: 12px;
}
footer .footercenter .centerright button {
  width: 120px;
  height: 30px;
  border: 1px solid #ff6709;
}
footer .footercenter .centerright button p {
  font-size: 14px;
}
footer .footercenter .centerright aside {
  display: flex;
  width: 100%;
  height: 21px;
  justify-content: center;
  align-items: center;
}
footer .footercenter .centerright aside p,
footer .footercenter .centerright aside .iconfont {
  font-size: 14px;
  padding: 0 5px;
  color: #616161;
}
#footerlast {
  width: 100%;
  height: 245px;
  background-color: #fafafa;
}
#footerlast .last {
  width: 1226px;
  height: 185px;
  margin: 0 auto;
  padding: 30px 0;
}
#footerlast .last .lasttext {
  width: 100%;
  height: 89px;
  display: flex;
}
#footerlast .last .lasttext .logo {
  width: 57px;
  height: 57px;
  margin-right: 10px;
  background: url(../../img/MI.png) no-repeat;
}
#footerlast .last .lasttext .textright {
  width: calc(100% - 57px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#footerlast .last .lasttext .textright p:first-child a {
  padding: 0 2px;
  color: #757575;
}
#footerlast .last .lasttext .textright p {
  font-size: 12px;
  color: #b0b0b0;
}
#footerlast .last .lastlink {
  width: 100%;
  height: 28px;
  margin: 35px 0 15px;
  padding: 0 0 0 67px;
}
#footerlast .last .lastlink a {
  display: inline-block;
  margin-right: 5px;
}
#footerlast .last .lastlink a img {
  width: 83px;
  height: 28px;
}
#footerlast .last .lastlink a .lastimg {
  width: 106px;
  height: 40px;
}
#footerlast .last .lastp {
  width: 1226px;
  height: 19px;
  margin: 30px 0 0;
  color: #333333;
  text-align: center;
  font-size: 16px;
}
.right-nav {
  width: 100px;
  border: 1px solid #e0e0e0;
  position: fixed;
  top: 100px;
  right: 0;
  z-index: 999999;
  background-color: #fff;
  z-index: 1000000;
}
.right-nav li {
  width: 100px;
  height: 85px;
  text-align: center;
  border: 1px solid #e0e0e0;
  padding-top: 15px;
  color: #757575;
  list-style: none;
}
.right-nav li .iconfont {
  font-size: 30px;
  color: #757575;
}
